In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('pima-indians-diabetes.csv', skiprows=9, header=None)
df.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [2]:
# 결측치 데이터가 있는 지 확인
df.isna().sum()  # or isnull() 사용

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

In [3]:
# 1. Number of times pregnant
# 2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test
# 3. Diastolic blood pressure (mm Hg)
# 4. Triceps skin fold thickness (mm)
# 5. 2-Hour serum insulin (mu U/ml)
# 6. Body mass index (weight in kg/(height in m)^2)
# 7. Diabetes pedigree function
# 8. Age (years)
# 9. Class variable (0 or 1)

- X = pima[행,열]
- y = pima[행,열]

In [4]:
# pima는 Numpy n-dimensional array
# python index slicing 사용
pima = df.values
X = pima[:,:-1]
y = pima[:,-1]
pima.shape, X.shape, y.shape

((768, 9), (768, 8), (768,))

In [5]:
# # numpy index slicing 사용
# X = df.iloc[:,:-1]
# y = df[8] # Series
# y = y.values # Numpy array
# X.shape, y.shape

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, stratify=y, test_size=0.2, random_state=2021
)

In [7]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=2021)

In [8]:
dtc.fit(X_train, y_train)

DecisionTreeClassifier(random_state=2021)

In [9]:
pred = dtc.predict(X_test)

In [10]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred), dtc.score(X_test, y_test)

(0.7077922077922078, 0.7077922077922078)

In [11]:
from sklearn.model_selection import GridSearchCV

In [12]:
params = {
    'max_depth': [2,4,6,8],
    'min_samples_split': [2,4,6,8]
}

In [13]:
grid_dt = GridSearchCV(dtc, param_grid=params, scoring='accuracy', cv=3)
grid_dt.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=2021),
             param_grid={'max_depth': [2, 4, 6, 8],
                         'min_samples_split': [2, 4, 6, 8]},
             scoring='accuracy')

In [14]:
grid_dt.best_score_

0.7443248844253149

In [15]:
grid_dt.best_params_

{'max_depth': 2, 'min_samples_split': 2}

In [16]:
best_dt = grid_dt.best_estimator_ # estimator에 값을 요청할 때 속성이름 끝에 "_"
best_dt.score(X_test, y_test)

0.7337662337662337

In [17]:
X_test[10], y_test[10]

(array([ 12.   , 100.   ,  84.   ,  33.   , 105.   ,  30.   ,   0.488,
         46.   ]),
 0.0)

In [18]:
test_data = X_test[10].reshape(1, -1)

In [19]:
pred = best_dt.predict(test_data)
pred

array([0.])

In [20]:
print('양성' if pred[0] == 1 else '음성')

음성

In [21]:
if pred[0] == 1:
    print('양성')
else:
    print('음성')

음성

* 참고사항 - 결측치

In [22]:
df2 = pd.DataFrame(np.arange(25).reshape(5,5), index=list('abcde'), columns=list('vwxyz'))
df2

    v   w   x   y   z
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [23]:
   df2['v']['c'] = np.nan
   df2.z['d'] = np.nan  
   df2.isnull().sum().sum()

C:\Users\Jason\AppData\Local\Temp/ipykernel_13500/16906208.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.z['d'] = np.nan
C:\Users\Jason\anaconda3\envs\py388\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

2