- 1) Iris - sns.load_dataset('iris')  
 
    - a. 붓꽃 종(species)별로 꽃잎길이(sepal_length), 꽃잎폭(sepal_width), 
* 꽃받침길이(petal_length), 꽃받침폭(petal_width)의 평균, 표준편차 등  
* 기초통계량(describe())을 구하시오. 
 
    - b. 3분위수(Q3)와 1분위수(Q1)의 차이보다 1.5배가 크거나 작은 데이터는 이상치이다. 
* 즉, 
    * Q1 - 1.5 * (Q3 - Q1) 보다 작은 데이터 
    * Q3 + 1.5 * (Q3 - Q1) 보다 큰 데이터 
 
- 이 이상치를 제거하고 위의 4가지 항목에 대해서 평균, 표준편차를 구하시오.

### 2) Titanic - sns.load_dataset('titanic') 
 
- a. 타이타닉호의 승객에 대해 나이와 성별에 의한 카테고리 열인 category1 열을 만드시오. 
* category1 카테고리는 다음과 같이 정의됨  
    - 1) 20살이 넘으면 성별을 그대로 사용한다. 
    - 2) 20살 미만이면 성별에 관계없이 “child”라고 한다. 


- b. 타이타닉호의 승객 중 나이를 명시하지 않은 고객은 
* 나이를 명시한 고객의 평균 나이값이 되도록 titanic 데이터프레임을 고치시오. 


- c. 성별, 선실(class)별, 출발지(embark_town)별 생존율을 구하시오.

- 3) Mile Per Gallon - sns.load_dataset('mpg') 
 
    - a. 배기량(displacement) 대비 마력(horsepower) 열(hp_per_cc)을 추가하시오. 
 
    - b. name으로부터 manufacturer(제조사)와 모델을 추출하여  
    * 새로운 열 manufacturer와 model을 추가하고, name 열은 삭제하시오. 
 
    - c. 엔진의 실린더(cylinders) 갯수별 연비(mpg)의 평균을 구하시오. 
 
    - d. 생산지(origin)별 배기량 대비 마력(hp_per_cc)의 평균을 구하시오. 
 
    - e. 모델이 5개 이상인 제조사에 대하여  
    * 연비(mpg)의 평균이 가장 좋은 제조사 Top 5를 구하시오.

In [1]:
import seaborn as sns
mpg = sns.load_dataset('mpg')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [3]:
name = 'chevrolet chevelle malibu'
mfg = name.split()[0]
mfg

'chevrolet'

In [13]:
name2 = 'ford torino'
model = name.split()[1:]
model

['chevelle', 'malibu']

In [18]:
' '.join(name.split()[1:])

'chevelle malibu'

In [19]:
' '.join(name2.split()[1:])

'torino'

In [ ]:
mpg['hp_per_cc'] = mpg.horsepower / mpg.displacement
mpg.head()